.xd {
  width: 28px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #b0b0b0;
}

#u145_state1_content_div_0 {
  left: 34px;
  top: 2px;
}

#u145_state1_content_div_1 {
  left: 217px;
  top: 2px;
}

#u145_state1_content_div_2 {
  left: 400px;
  top: 2px;
}

#u145_state1_content_div_3 {
  left: 583px;
  top: 2px;
}

#u145_state1_content_div_4 {
  left: 766px;
  top: 2px;
}

#u145_state1_content_div_5 {
  left: 34px;
  top: 186px;
}

#u145_state1_content_div_6 {
  left: 217px;
  top: 186px;
}

#u145_state1_content_div_7 {
  left: 400px;
  top: 186px;
}

#u145_state1_content_div_8 {
  left: 583px;
  top: 186px;
}

#u145_state1_content_div_9 {
  left: 766px;
  top: 186px;
}

#u145_state1_content_div_10 {
  left: 34px;
  top: 370px;
}

#u145_state1_content_div_11 {
  left: 217px;
  top: 370px;
}

#u145_state1_content_div_12 {
  left: 400px;
  top: 370px;
}

#u145_state1_content_div_13 {
  left: 583px;
  top: 370px;
}

#u145_state1_content_div_14 {
  left: 766px;
  top: 370px;
}

#u145_state1_content_div_15 {
  left: 34px;
}

#u145_state1_content_div_16 {
  left: 217px;
}

#u145_state1_content_div_17 {
  left: 400px;
}

#u145_state1_content_div_18 {
  left: 583px;
}

#u145_state1_content_div_19 {
  left: 766px;
}

#u145_state1_content_div_20 {
  background-position: 0 0;
  height: 12px;
  left: 8px;
  top: 251px;
}

#u145_state1_content_div_21 {
  background-position: 0 -12px;
  height: 13px;
  left: 8px;
  top: 33px;
}

#u145_state1_content_div_22 {
  background-position: 0 -25px;
  height: 12px;
  left: 8px;
  top: 507px;
}

#u145_state1_content_div_23 {
  background-position: 0 -40px;
  height: 370px;
  left: 8px;
  top: 85px;
}

#u145_state1_content_div_24 {
  background-position: 0 -410px;
  height: 371px;
  left: 8px;
  top: 96px;
}

#u145_state1_content_div_25 {
  background-position: 0 -785px;
  height: 150px;
  left: 8px;
  top: 77px;
}

#u145_state1_content_div_26 {
  background-position: 0 -930px;
  height: 135px;
  left: 8px;
  top: 291px;
}

#u145_state1_content_div_27 {
  background-position: 0 -1060px;
  height: 285px;
  left: 8px;
  top: 137px;
}

#u145_state1_content_div_28 {
  background-position: 0 -1350px;
  height: 285px;
  left: 8px;
  top: 139px;
}

#u145_state1_content_div_29 {
  background-position: 0 -1630px;
  height: 423px;
  left: 8px;
  top: 39px;
}

#u145_state1_content_div_30 {
  background-position: 0 -2060px;
  height: 370px;
  left: 18px;
  top: 132px;
}

#u145_state1_content_div_31 {
  background-position: 0 -2440px;
  height: 110px;
  left: 18px;
  top: 138px;
}

#u145_state1_content_div_32 {
  background-position: 0 -2560px;
  height: 150px;
  left: 18px;
  top: 290px;
}

#u145_state1_content_div_33 {
  background-position: 0 -2760px;
  height: 230px;
  left: 18px;
  top: 20px;
}

#u145_state1_content_div_34 {
  background-position: 0 -3030px;
  height: 270px;
  left: 18px;
  top: 256px;
}

#u145_state1_content_div_35 {
  background-position: 0 -3310px;
  height: 170px;
  left: 18px;
  top: 72px;
}

#u145_state1_content_div_36 {
  background-position: 0 -3483px;
  height: 190px;
  left: 18px;
  top: 337px;
}

#u145_state1_content_div_37 {
  background-position: 0 -3670px;
  height: 380px;
  left: 18px;
  top: 83px;
}

#u145_state1_content_div_38 {
  background-position: 0 -4065px;
  height: 380px;
  left: 18px;
  top: 93px;
}

#u145_state1_content_div_39 {
  background-position: 0 -4450px;
  height: 360px;
  left: 18px;
  top: 274px;
}

#u145_state1_content_div_40 {
  left: 3px;
  top: 240px;
}

#u145_state1_content_div_41 {
  left: 3px;
  top: 25px;
}

#u145_state1_content_div_42 {
  left: 3px;
  top: 500px;
}

#u145_state1_content_div_43 {
  left: 3px;
  top: 78px;
}

#u145_state1_content_div_44 {
  left: 3px;
  top: 446px;
}

#u145_state1_content_div_45 {
  left: 3px;
  top: 196px;
}

#u145_state1_content_div_46 {
  left: 3px;
  top: 285px;
}

#u145_state1_content_div_47 {
  left: 3px;
  top: 132px;
}

#u145_state1_content_div_48 {
  left: 3px;
  top: 393px;
}

#u145_state1_content_div_49 {
  left: 3px;
  top: 329px;
}

#u145_state1_content_div_50 {
  left: 949px;
  top: 240px;
}

#u145_state1_content_div_51 {
  left: 949px;
  top: 133px;
}

#u145_state1_content_div_52 {
  left: 949px;
  top: 393px;
}

#u145_state1_content_div_53 {
  left: 949px;
  top: 25px;
}

#u145_state1_content_div_54 {
  left: 949px;
  top: 500px;
}

#u145_state1_content_div_55 {
  left: 949px;
  top: 196px;
}

#u145_state1_content_div_56 {
  left: 949px;
  top: 329px;
}

#u145_state1_content_div_57 {
  left: 949px;
  top: 78px;
}

#u145_state1_content_div_58 {
  left: 949px;
  top: 446px;
}

#u145_state1_content_div_59 {
  left: 949px;
  top: 285px;
}

#u145_state1_content_div_60 {
  height: 550px;
  left: 0;
  top: 0;
  width: 980px;
}

.inputtext input {
  border: #a9a9a9 1px solid;
  padding: 0 6px;
}
